@model CoddingGurrus.Core.Models.Tutorials.ContentModel
<div class="page-body">
    <div class="container-xl">
        <div class="col-md-12 mb-5">
            @using (Html.BeginForm("Edit", "Content", FormMethod.Post, new { @class = "card" }))
            {
                <div class="card-header">
                    <h3 class="card-title">Edit Content</h3>
                </div>
                <div class="card-body">
                    @Html.HiddenFor(model => model.Id)
                    <div class="row form-group mb-2">
                        <label class="col-1 col-form-label required">Name</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                        <label class="col-1 col-form-label">Description</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Text, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Text)
                        </div>
                    </div>
                    <div class="row form-group mb-2">
                    </div>
                </div>
                <div class="card-footer text-end">
                    <a href="@Url.Action("Index","Course")" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>