@model CoddingGurrus.Core.Models.Menu.MenuModel;

<div class="page-body">
    <div class="container-xl">
        <div class="col-md-12 mb-5">
            @using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { @class = "card" }))
            {
                @Html.ValidationSummary(excludePropertyErrors: true)
                ;
                <div class="card-header">
                    <h3 class="card-title">Create New Menu</h3>
                </div>
                <div class="card-body">
                    @Html.HiddenFor(model => model.Id)
                    <div class="row form-group mb-3">
                        <label class="col-2 col-form-label required">Menu Name</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-2 col-form-label">Parent</label>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.ParentId, ViewBag.Parent as SelectList, "Select Parent", new { @class = "form-control", id = "roleDropdown" })
                            @Html.ValidationMessageFor(model => model.ParentId)
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label class="col-2 col-form-label">Menu Icon</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.MenuImage, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.MenuImage)
                        </div>
                        <label class="col-2 col-form-label">Menu Order</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.MenuOrder, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label class="col-2 col-form-label">Url</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(modelItem => modelItem.Url, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Url)
                        </div>
                        <label class="col-2 col-form-label">Is Show</label>
                        <div class="col-md-4">
                            <div class="form-check form-switch">
                                @Html.CheckBoxFor(modelItem => modelItem.IsShow, new { @class = "form-check-input mt-2" })
                                @Html.ValidationMessageFor(model => model.IsShow)
                            </div>
                        </div>
                    </div>
                    <div class="row form-group mb-2">
                    </div>
                </div>
                <div class="card-footer text-end">
                    <a href="@Url.Action("Index","Menu")" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>
