@model CoddingGurrus.Core.Models.Course.CourseModel
@if (!ViewData.ModelState.IsValid)
{
   @*  <div id="errorMessage" style="display:none;">@Html.Raw(ViewData.ModelState[""].Errors.First().ErrorMessage)</div> *@
}
<div class="page-body">
    <div class="container-xl">
        <div class="col-md-12 mb-5">
            @using(Html.BeginForm("Create", "Course", FormMethod.Post, new { @class = "card" }))
            {
                <div class="card-header">
                    <h3 class="card-title">Create New Course</h3>
                </div>
                <div class="card-body">
                    <div class="row form-group mb-2">
                        <label class="col-1 col-form-label required">Title</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                        </div>
                        <label class="col-1 col-form-label">Description</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Description,new { @class = "form-control"})
                        </div>
                    </div>
                    <div class="row form-group mb-2">
                       
                    </div>
                </div>
                <div class="card-footer text-end">
                    <a href="@Url.Action("Index","Course")" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        var errorMessage = $('#errorMessage').text();
        if (errorMessage.length > 0) {
            alert(errorMessage);
        }
    });
</script>